@charset "UTF-8";
/* CSS Document */



html{
        scroll-behavior: smooth;

}

body {
    font-family:Arial;
    font-size:15px;
    color:#000;
}

footer {
    display: block;
text-align: left;
}

article, header, hgroup, menu, nav, section {
		display: block;
	}

.logo {
    padding: 10px 0px 0px 25px;
    
}

/* Banner */

	#banner {
		padding: 10em 0 12em 0;
		background-image: url(../../images/banner.jpg);
		background-size: cover;
		background-position: center top;
		background-repeat: no-repeat;
		text-align: center;
        height: 250em;
	}

	


		#banner h1 {
			font-size: 3em;
			color: #FAF9F9;
			line-height: 1em;
			margin: 0 0 0.5em 0;
			padding: 0;
		}

	

	ol, ul {
		list-style: none;
	}



/* Type */

	

	body, input, select, textarea {
		font-family: "Nunito Sans", Arial, Helvetica, sans-serif;
		font-size: 13pt;
		font-weight: 300;
		line-height: 1.65;
	}

input, textarea {
				font-size: 10pt;
    
			}

	

	p {
    font-family: "Montserrat", sans-serif;
    margin: 0 0 2em 0;
    font: inherit;
    text-align:left;
        color: rgba(74,74,74,1.00);
        font-size: 11pt;
            
}

	h1, h2, h3, h4, h5, h6 {
		font-weight: 700;
		line-height: 1.5;
	}

		

.bannertext {
  text-align: left;
  position: absolute;
  top: 40%;
  left: 7%;
}


.content {
  position: absolute;
  top: 5%;
}

 
.button {
		
		background-color: #778658;
		border-radius: 4px;
		color: #ffffff;
		display: inline-block;
		line-height: 3.5em;
		padding: 0 40px;
		text-decoration: none;
		text-transform: inherit;
        margin-top: 10px;
        margin-bottom: 10px;
    font-size: 10pt;
	}

 .button:hover{
     background-color: #495236;
  color: white;
}


#header {
    display: block;
    margin: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline;
}


#banner {
		background-image: url("Banner.jpg");
		background-size: cover;
		background-repeat: no-repeat;
        height: 150px;
        
	}


h1 {
    
    color: #EAE7E7;
    text-decoration: none;
    text-align: left;
    margin-left: 5px;
}

h2 {
    
    color: #ffffff;
    text-decoration: none;
    font-size: 15pt;
    font-weight:lighter;
    text-align: center;
    font-family:Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
    padding-top: 30px;
    padding-bottom: 20px;
}

h3 {
    font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
    text-decoration: none;
    font-size: 18pt; 
    text-align: left;
    color:#484747;
}

h4 {
    
    color: #ffffff;
    text-decoration: none;
    font-size: 10pt;
    font-weight:lighter;
    text-align: center;
    font-family:Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
    padding-bottom: 20px;
}


h5 {
    
    color: #EAE7E7;
    text-decoration: none;
    text-align: center;
    margin-left: 5px;
    font-size: 13pt;
}


h6 {
    font-family: "Montserrat", sans-serif;
    margin: 0 0 2em 0;
    font: inherit;
    text-align:left;
    color: #676565;
    font-size: 10pt;
}


section {
    text-align: center;    
}

ul .links {
    list-style-type: none;
    overflow: hidden;
    width: 100%;
    font-size: 15pt;
}



li {
  float: right;
    display: inline;
    margin:0 0 0 0px;
    margin-right: 40px;
    margin-top: 30px;
}

a {
  display: block;
  font-size:14px;
    color:#898686;
    text-transform:uppercase;
    text-decoration:none;
}


li a {
  display: block;
  color: #5E5D5D;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

a:hover{
  color: #535252;
}


/* Galleri */

#galleri {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  height: 100%;
    padding-top: 40px;
    
}

figure.snip0015 {
  font-family: 'Raleway', Arial, sans-serif;
  color: #fff;
  position: relative;
  overflow: hidden;
  margin: 10px;
  min-width: 220px;
  max-width: 310px;
  max-height: 220px;
  width: 100%;
  background: #000000;
  text-align: center;
}
figure.snip0015 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
figure.snip0015 img {
  opacity: 1;
  width: 100%;
  -webkit-transition: opacity 0.35s;
  transition: opacity 0.35s;
}
figure.snip0015 figcaption {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 3em 3em;
  width: 100%;
  height: 100%;
}
figure.snip0015 figcaption::before {
  position: absolute;
  top: 50%;
  right: 30px;
  bottom: 50%;
  left: 30px;
  border-top: 1px solid rgba(255, 255, 255, 0.8);
  border-bottom: 1px solid rgba(255, 255, 255, 0.8);
  content: '';
  opacity: 0;
  background-color: #ffffff;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  -webkit-transition-delay: 0.6s;
  transition-delay: 0.6s;
}
figure.snip0015 h2,
figure.snip0015 h4 {
  margin: 0 0 5px;
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s,-webkit-transform 0.35s,-moz-transform 0.35s,-o-transform 0.35s,transform 0.35s;
}
figure.snip0015 h2 {
  word-spacing: -0.15em;
  font-weight: 300;
  text-transform: uppercase;
  -webkit-transform: translate3d(0%, 50%, 0);
  transform: translate3d(0%, 50%, 0);
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}
figure.snip0015 h2 span {
  font-weight: 800;
}
figure.snip0015 h4 {
  font-weight: 200	;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}
figure.snip0015 a {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  color: #ffffff;
}
figure.snip0015:hover img {
  opacity: 0.35;
}
figure.snip0015:hover figcaption h2 {
  opacity: 1;
  -webkit-transform: translate3d(0%, 0%, 0);
  transform: translate3d(0%, 0%, 0);
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}
figure.snip0015:hover figcaption h4 {
  opacity: 0.9;
  -webkit-transition-delay: 0.6s;
  transition-delay: 0.6s;
}
figure.snip0015:hover figcaption::before {
  background: rgba(255, 255, 255, 0);
  top: 30px;
  bottom: 30px;
  opacity: 1;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}


/* Hvem er jeg */
#mig {
    background: #FFF9DB;
    display:flex;
    width: 100%;
    margin-top: 40px;

			}

.mig{
    padding:  3em 8em 3em 0em;
    width: 60%;
    float: right;
    
}
#profil {
   float: left;
    padding: 4em 6em 4em 8em;
    width: 40%;
}

/*citat*/

#citat2 h1 {
    padding-top: 40px;
    padding-bottom: 40px;
    font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";
    text-align: center;
    color: #9F393A;
}

/* Kontakt */

.kuk {
    position: absolute;
    padding: 300px 0px 0px 60px;  
}

#kontakt {
    display: flex;
    background-color:rgba(0,0,0,0.1);
}

.social{
    float: left;
    padding:  20px 50px 20px 80px;   
    width: 40%;
}

.container {
    padding:  20px 70px 20px 70px;   
    border-radius: 5px;
    background-color: #f2f2f2;
    float: right;
    width: 60%;
}



/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */  
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 6px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=button] {
    background-color: #778658;
		border-radius: 4px;
		color: #ffffff;
		display: inline-block;
		height: 3.5em;
		line-height: 3.5em;
		padding: 0 3.5em;
		text-decoration: none;
		text-transform: inherit;
        margin-top: 10px;
        margin-bottom: 10px;

}

/* When moving the mouse over the submit button, add a darker green color */
input[type=button]:hover {
   background-color: #495236;
  color: white;
}

/* Add a background color and some padding around the form */

form {
    text-align: left;
}



#copyright {
    padding: 2em 2em 2em 2em;
    text-align: left;
    
}

